a{
    text-align: center;
    font-size: 40px;
    color: aliceblue;  
}

a+a {
    margin-left: 20px;
  }



header{
    align-items: center;
    
}

body{
    background-color:darkslategrey;
    color:rgb(255, 217, 0);
    text-align: center;
}
h3{
    align-items: center;
    color:azure;
    font-size: 30px;
}
h1{
    color:azure;
    font-size: 45px;
}
p{
    font-size: 25px;
}